Capstone Project - Car accident severity (Week 1)

Introduction/Business Problem:

There is a huge impact on the society due to traffic accidents where there is a great costs of fatalities and injuries. In recent years, there is a increase in the researches attention to determine the significantly affect the severity of the drivers injuries which is caused due to the road accidents.
Accurate and comprehensive accident records are the basis of accident analysis. the effective use of accident records depends on some factors, like the accuracy of the data, record retention, and dala analysis. There is many approaches applied to Lo this scenario tO study this problem.

A recent study illustrated that residential and shopping sites are more hazardous than village areas.as might have been predicted the frequencies of the casualties were higher near the zones of residence possibly because of the higher exposure. A study revealed that the casualty rates among the residential areas are classified as relatively deprived and significantly higher than those from relatively affluent areas.accidents have become very common these days. Nearly 1.25 million people die in road crashes each year, on average, 3,287 deaths a day. Moreover, 20-50 million people are injured or disabled annually. Road trafific crashes rank as the 9th leading cause of death and accounts for 2.2% of all deaths globally. In this contest u better severity of the accidents machine learning and neural techniques has been us ed analysis.These techniques helpful to better accident severity.


Car accidents are one of the common types of collision occurring everywhere globally every day. By analysing the different factors which cause the collision. In this section we are discussing about data Capstone project topic Car accident servity..

"Data section:"

3.0bjectives
The objectives of this Capstone project are mainly the following:
1.Gather a comprehensive database of road accident stati
roads with factors that affect road safety which have been provided by the database.
2.Analyse data for the factors, which can inpact accident rates (e.g. light conditions, weather, road surrace conditions, types or junctions etc.)
3.Determine type of road classes with highest and lowest amount of accident rates from analysing tables of road accident statistics and chart created from the database UK-2019 accident set.
4.Suggest appropriate measures for the factors and the road class determined the most dangerous for improve car accident servity.


Data resource
For the current project I have used from a open source from google data search engine data data.gov.uk Find open data.The data details are as follows
Published by: Leeds City Council Last updated: 22 July 2020 Topic: Not added Licence: Open Government License,

URL:https://dataset≈°earch.research.google.com/search?query=car%20accidents&docid=ykyJqNCmNypGNKe7AAAAAA%3D%3D In which I have selected downloaded accidents dataset 2019 in CSV format

Data Understanding
Data studying raw data in which could be a csv file or a zip file or json file any other file format. Studying the attributes
.Columns of data finding what are the type of data it is string,object,float, ini etc. And rinding the null, nan, no values which must be deleted in further step to Analzing the attributes.

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("Traffic accidents.csv")
df.head()

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class,1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Local Authority,Vehicle Number,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty
0,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,6
1,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,1,9
2,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,39
3,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,1,5
4,58F1730,436147,434957,2,15/08/2019,1812,3,A6120,1,1,1,E08000035,2,11,2,3,2,8

In [7]:
df.dtypes

Reference Number       object
Grid Ref: Easting       int64
Grid Ref: Northing      int64
Number of Vehicles      int64
Accident Date          object
Time (24hr)             int64
1st Road Class          int64
1st Road Class & No    object
Road Surface            int64
Lighting Conditions     int64
Weather Conditions      int64
Local Authority        object
Vehicle Number          int64
Type of Vehicle         int64
Casualty Class          int64
Casualty Severity       int64
Sex of Casualty         int64
Age of Casualty         int64
dtype: object